version: '3.7'
services:
    front_end:
        container_name: front_end
        image: cbfgd-web-app
        build:
            context: .
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
        stdin_open: true
        ports:
            - 3000:3000
        networks:
            - webnet
networks:
    webnet:
